body {
  font-family: sans-serif;
  background-color: #312d37;
  color: white;
}

html, .fullscreen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  text-align: center;
  background-color: black;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#titulo {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.containerMaior {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 85%;
  margin: auto;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10%;
  border-radius: 10px;
}

.containerInfoJogadores{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containerJogadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.placar {
  font-weight: bold;
  font-size: 2rem;
}

.botoes {
  display: flex;
  width: 100%;
  gap: 10px;
}

.botao {
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.btn-green {
  background-color: #00A87B;
  color: white;
}

.btn-red {
  background-color: #FF6347;
  color: white;
}

.placar_vitorias {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.containerVi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
